@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Вы не авторизированы!</h1>
    <p>Доступ к панели управления будет доступен только после <font color="blue">авторизации</font> пользователя</p>
</div>
